@model IEnumerable<MuslimApp.Models.mosque>
@{
    ViewData["Title"] = "List of Mosques";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.mosqueName
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.mosqueId"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.mosquePicture" height="100%" width="100%"  alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.mosqueName</p>
                            <p class="card-text"><b>Location: </b>@item.mosqueLocation</p>
                            <p class="card-text"><b>Information: </b>@item.mosqueInformation</p>
                            <p class="card-text"><b>Situation: </b>@item.situation</p>
                          
                           
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.mosqueId">
                                    <i class="bi bi-eye-fill"></i>  Details
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.mosqueId">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                }
                                <a class="btn btn-success text-white float-right" style="float-right"
                               asp-controller="Donations"
                               asp-action="Create"
                               asp-route-id="@item.mosqueId">
                                    <i class="bi bi-currency-dollar"></i> Donation
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if(User.Identity.IsAuthenticated)
{
<div style=" position:fixed ; right:25px ; bottom:25px ;" class="text-whihte">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>Add New
    </a>
</div>
}